*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    overscroll-behavior: auto none;
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: ghostwhite;
    color: #333;
    transition-property: background-color, color;
    transition-duration: .5s;
    cursor: none;
}
body.blackout{
    background-color: black;
}
.follower{
    position:fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
}
.point{
    position:fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    user-select: none;
    pointer-events: none;
    mix-blend-mode: difference;
}


nav{
    position: absolute;
    z-index: 8;
    top: 26px;
    left: 400px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 1px;
}
nav button{
    background: none;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    /* cursor: pointer; */
    transition-duration: .25s;
}
.blackout nav button{
    color: ghostwhite;
}
nav button:hover{
    padding-left: 24px;
}
nav button.active{
    text-decoration: line-through;
}
nav button.active:hover{
    padding-left: 0px;
    /* cursor: default; */
}
#wrapper{
    width: 100%;
    height: 100svh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.line{
    display: inline-block;
    width: 40px;
    height: 2.5px;
    background-color: #333;
    margin-left: 4px;
    margin-right: 8px;
    vertical-align: middle;
}
.blackout .line{
    background-color: ghostwhite;
}
p{
    font-size: 18px;
    line-height: 22px;
}
h3{
    font-size: 20px;
    margin-bottom: 54px;
}
#about{
    position: absolute;
    left: 24px;
    top: 24px;
    max-width: 280px;
    font-weight: bold;
}
#copy{
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-weight: bold;
}
.blackout #about{
    color: ghostwhite;
}
.blackout #copy{
    color: ghostwhite;
}
#project_nav{
    position: absolute;
    left: 24px;
    bottom: 24px;
}
.project_nav_btn{
    padding: 6px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    /* cursor: pointer; */
    transition-duration: .25s;
    transition-property: padding-left;
    transition-timing-function: ease-in-out;
}
.project_nav_btn:hover{
    padding-left: 18px;
}
.project_nav_break{
    margin: 24px 0px;
}
#project_preview_container{
    display: flex;
    /* overflow-x: auto; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-left: 400px;
    padding-right: 16px;

    padding-bottom: 100px;

    /** hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */

    transition-duration: .5s;
    pointer-events: none;
    opacity: 0;
}
#project_preview_container.visible{
    pointer-events: all;
    opacity: 1;
}
.blackout #project_preview_container{
    opacity: 0.2;
    pointer-events: none;
}
.project_preview {
    /* width: 11vw;
    min-width: 11vw; */
    flex: 1;
    height: 0%;
    border-radius: 8px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    animation: projectPreview 1s ease-in-out forwards;
    transform-origin: top;
    padding: 8px;
    position: relative;

    cursor: none;
}
.project_preview.active{
    flex: 4;
}
.project_preview .project_info_container{
    position: absolute;
    opacity: 0;
    left: 8px;
    bottom: 8px;
    width: calc(100% - 16px);
    padding: 24px;
    color: white;
    /* mix-blend-mode: difference; */
    transition-duration: .5s;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.project_preview .project_info_container h2{
    font-size: 22px;
    font-weight: 500;
    /* text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8); */
}
.project_preview .img_container{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.project_preview .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.project_preview:hover{
    flex: 4;
}
/* .scrolling .project_preview:hover{
    width: 10vw;
    min-width: 10vw;
} */
.project_preview:hover .project_info_container{
    opacity: 1;
    transition-delay: .25s;
}
/** add delay to each project preview */
.project_preview:nth-child(1) {
    animation-delay: 0s;
}
.project_preview:nth-child(2) {
    animation-delay: 0.1s;
}
.project_preview:nth-child(3) {
    animation-delay: 0.2s;
}
.project_preview:nth-child(4) {
    animation-delay: 0.3s;
}
.project_preview:nth-child(5) {
    animation-delay: 0.4s;
}
.project_preview:nth-child(6) {
    animation-delay: 0.5s;
}
.project_preview:nth-child(7) {
    animation-delay: 0.6s;
}
.project_preview:nth-child(8) {
    animation-delay: 0.7s;
}
.project_preview:nth-child(9) {
    animation-delay: 0.8s;
}
@keyframes projectPreview{
    0% {
        height: 0%;

    }
    100% {
        height: 65%;
    }
}
.project_details_wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow-y: scroll;
    padding: 116px 0px;
    padding-left: 400px;
    padding-right: 15vw;
    animation: animateDetails .5s ease-in-out forwards;
    
}
.project_details_wrapper.remove{
    animation: animateDetailsOut .5s ease-in-out forwards;
}
.close_project_details{
    position: absolute;
    top: -32px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: none;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    opacity: .4;
}
.project_details{
    position: relative;
    pointer-events: all;
    /* margin: 0 auto; */
    /* max-width: 1200px; */
    width: 100%;
    background: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 54px 32px;
    border-radius: 8px;
    height: auto;
}
.project_details img, .project_details video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.project_details img.main_image{
    margin-bottom: 54px;
}
.project_details_intro{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
}
.project_details_intro div:first-of-type{
    width: 65%;
}
.project_details_tags p{
    font-weight: bold;
}
.project_media{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 32px;
}
.project_media .full{
    grid-column: span 2;
}
.project_media .half{
    grid-column: span 1;
}


#about_container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    /* overflow-x: auto; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 408px;
    padding-right: 100px;

    transition-duration: .5s;

    pointer-events: none;
    opacity: 0;
}
#about_container.visible{
    pointer-events: all;
    opacity: 1;
}
#about_text{
    max-width: 560px;
}
#about_img{
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    border-radius: 8px;
}

@keyframes animateDetails{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes animateDetailsOut{
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 768px) {
    nav{
        top: 13px;
        left: auto;
        right: 12px;
        flex-direction: column;
        align-items: flex-end;
        gap: 21px;
    }
    nav button{
        font-size: 16px;
    }
    nav button:hover{
        padding-left: 0px;
    }
    h3{
        font-size: 16px;
        margin-bottom: 32px;
    }
    p{
        font-size: 16px;
        line-height: 20px;
    }
    #about{
        position: absolute;
        left: 12px;
        top: 12px;
        max-width: 240px;
    }
    #copy{
        position: absolute;
        left: 12px;
        bottom: 12px;
    }
    .line{
        width: 30px;
        height: 2px;
        margin-left: 2px;
        margin-right: 4px;
    }
    #project_preview_container{
        overflow-x: auto;
        padding-left: 8px;
        padding-right: 8px;
    }
    #about_container{
        padding-left: 12px;
        padding-right: 12px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 32px;
    }
    .project_preview {
        width: 50vw;
        min-width: 50vw;
        padding: 4px;
    }
    .project_preview:hover{
        width: 50vw;
        min-width: 50vw;
    }
    .project_preview .project_info_container{
        opacity: 1;
        transform: translateY(0px);
        padding: 12px;
    }
    .project_preview .project_info_container h2{
        font-size: 18px;
    }
    .project_details_wrapper{
        padding: 124px 12px 54px 12px;
    }
    .project_details{
        padding: 16px;
    }
    .project_details_tags p{
        font-size: 14px;
    }
    .project_details_intro{
        margin-bottom: 32px;
    }
    .project_details img.main_image{
        margin-bottom: 24px;
    }
    .project_media{
        gap: 24px;
    }
    .project_media .full{
        grid-column: span 2;
    }
    .project_media .half{
        grid-column: span 2;
    }
}