*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: ghostwhite;
    color: #333;
}
#wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.line{
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #333;
    margin-left: 4px;
    vertical-align: middle;
}
p{
    font-size: 20px;
    font-weight: bold;
}
#about{
    position: absolute;
    left: 24px;
    top: 24px;
    max-width: 280px;
}
#project_nav{
    position: absolute;
    left: 24px;
    bottom: 24px;
}
.project_nav_btn{
    padding: 6px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition-duration: .25s;
    transition-property: padding-left;
    transition-timing-function: ease-in-out;
}
.project_nav_btn:hover{
    padding-left: 18px;
}
.project_nav_break{
    margin: 24px 0px;
}
#project_preview_container{
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    padding-left: 40%;
    padding-right: 30%;
    /** hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.project_preview {
    width: 15vw;
    min-width: 15vw;
    height: 0%;
    border-radius: 8px;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    animation: projectPreview 1s ease-in-out forwards;
    transform-origin: top;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.project_preview .project_info_container{
    position: absolute;
    opacity: 0;
    left: 0;
    bottom: 0px;
    padding: 24px;
    transform: translateY(25px);
    color: white;
    mix-blend-mode: difference;
    transition-duration: .5s;
}
.project_preview .project_info_container h2{
    font-size: 22px;
    font-weight: bold;
}
.project_preview .img_container{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.project_preview .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.project_preview:hover{
    width: 30vw;
    min-width: 30vw;
}
.project_preview:hover .project_info_container{
    transform: translateY(0px);
    opacity: 1;
}
/** add delay to each project preview */
.project_preview:nth-child(1) {
    animation-delay: 0s;
}
.project_preview:nth-child(2) {
    animation-delay: 0.1s;
}
.project_preview:nth-child(3) {
    animation-delay: 0.2s;
}
.project_preview:nth-child(4) {
    animation-delay: 0.3s;
}
.project_preview:nth-child(5) {
    animation-delay: 0.4s;
}
.project_preview:nth-child(6) {
    animation-delay: 0.5s;
}
.project_preview:nth-child(7) {
    animation-delay: 0.6s;
}
.project_preview:nth-child(8) {
    animation-delay: 0.7s;
}
.project_preview:nth-child(9) {
    animation-delay: 0.8s;
}
@keyframes projectPreview{
    0% {
        height: 0%;

    }
    100% {
        height: 100%;
    }
}
@media screen and (max-width: 768px) {
}